.App {
  text-align: center;
}

.App-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.App-header {
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rounded {
  border-radius: 10px;
}

.filter {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  width: 450px;
}

.app-content {
  padding-left: 11rem;
}
