.add-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(101, 82, 134);
}

input,
textarea,
table,
div {
  color: black;
}

label {
  color: white;
}

.todo-table > * {
  display: block;
  margin-top: 15px;
}

.selected {
  font-weight: bold;
  color: rgb(101, 82, 134)
}
