.add-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(101, 82, 134);
}

table,
div {
  color: black;
}

textarea:focus, input:focus , input:not(:focus), textarea:not(:focus) {
    color: black;
}

label {
  color: white;
}

.todo-badge > * {
  margin-left: 5px;
}

.todo-table-title {
  text-align: center;
  font-size: 18pt;
}

.todo-table > * {
  display: block;
  margin-top: 15px;
}

.selected {
  font-weight: bold;
  color: rgb(101, 82, 134);
}

.todo-completed-text {
  font-style: italic;
  color: gray;
  font-size: small;
}

.todo-completed-block {
  display: flex;
  color: green;
  justify-content: space-between;
  text-align: justify;
}

.todo-action-btn {
  cursor: pointer;
}
