.todo-action {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 10px;
}

table,
div {
  color: black;
}

td {
  white-space: pre;
}

textarea:focus,
input:focus,
input:not(:focus),
textarea:not(:focus) {
  color: black;
}

.todo-badge > * {
  margin-left: 5px;
}

.todo-table-title {
  text-align: center;
  font-size: 18pt;
}


.selected {
  font-weight: bold;
  color: rgb(101, 82, 134);
}

.todo-modal-text {
  font-style: italic;
  color: gray;
  font-size: small;
}

.todo-completed-block {
  display: flex;
  color: green;
  justify-content: space-between;
  text-align: justify;
}

.todo-bg {
  background-color: rgb(101, 82, 134);
}
.todo-labels {
  color: white;
}

.edit-todo {
  width: 330px;
}
